<p>
	<%= form_for  @post do |f| %>
<p>
	<%= f.label :Name %>
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :Description %>
	<%= f.text_field :description %>
</p>

<P>
	<%= f.submit %>
</P>
<%end%>
</p>